<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Contacto
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	link(rel="stylesheet", href="css/font-awesome.min.css")
	link(rel="stylesheet", href="css/estilos.css")
body
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button class="navbar-toggle collapsed" type="button" data-toggle="collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand">PlatziSquare</a>
			</div>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav nav">
					<li routerLinkActive="active"><a routerLink="/lugares">Inicio <span class="sr-only">(current)</span></a></li>
					<li routerLinkActive="active"><a routerLink="/contacto">Contacto</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.6516137294834!2d-74.05959178477983!3d4.656066296617825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a4333a1a275%3A0x91a59c01b85e3f59!2sPlatzi!5e0!3m2!1ses!2sve!4v1513777546521" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	section.Contacto
		span.fa.fa-plus
		.Contacto-escribir
			.Contacto-escribir-total
				h1.Contacto-escribir-total-title Contactar
				p.Contacto-escribir-total-description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt cumque, ipsum eligendi libero rerum! Ipsam laudantium excepturi, perferendis soluta labore illo fuga, pariatur praesentium cumque libero, natus quasi, temporibus voluptas!
				form.Contacto-escribir-total-formulario
					input.form-control.Contacto-escribir-total-formulario-item(type="text")
					input.form-control.Contacto-escribir-total-formulario-item(type="email")
					textarea.form-control.Contacto-escribir-total-formulario-item
					button(type="submit" class="btn Contacto-escribir-total-formulario-enviar") Enviar
			a(href="").Contacto-escribir-minimo
				h1.Contacto-escribir-minimo-title Escribenos
				i.fa.fa-envelope-open
				span.Contacto-escribir-minimo-title-span Click para iniciar
				small.Contacto-escribir-minimo-title-correo platzi@contacto.com
		.Contacto-informacion
			h1 Informacion de contacto
			a(href="").Contacto-informacion-minimo
				i.fa.fa-info
				span.Contacto-informacion-minimo-deslizar-span Click para ver
				ul.Contacto-informacion-minimo-sociales
					li.Contacto-informacion-minimo-sociales-item
						i.fa.fa-facebook
					li.Contacto-informacion-minimo-sociales-item
						i.fa.fa-twitter
					li.Contacto-informacion-minimo-sociales-item
						i.fa.fa-globe
			.Contacto-informacion-total
				.Contacto-informacion-total-row
					.Contacto-informacion-total-row-item
						h2.Contacto-informacion-total-item-title Llamanos
						p.Contacto-informacion-total-item-info 555-0125
					.Contacto-informacion-total-row-item
						h2.Contacto-informacion-total-item-title Vitanos
						p.Contacto-informacion-total-item-info Platzi Avenida Calle 72, Bogotá, Bogotá, Colombia
					.Contacto-informacion-total-row-item
						h2.Contacto-informacion-total-item-title Envianos un mensaje
						p.Contacto-informacion-total-item-info platzi@contacto.com
				.Contacto-informacion-total-sociales
					ul.Contacto-informacion-total-sociales-bar
						li.Contacto-informacion-total-sociales-bar-item
							i.fa.fa-facebook
						li.Contacto-informacion-total-sociales-bar-item
							i.fa.fa-twitter
						li.Contacto-informacion-total-sociales-bar-item
							i.fa.fa-youtube
						li.Contacto-informacion-total-sociales-bar-item
							i.fa.fa-globe
